 <div class="entry-title pb-3">
<h1  class="post-title">{{title}}</h1>    
 <p class="post-meta">{{t "Posted on"}} <span>{{date format="D MMM YYYY"}}</span> </p> 
   <div class="entry-content pt-3">
      {{content}}

</div>
</div>